exceptionHandle/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
exceptionHandle/obj/Debug/MutipleTaskExceptionHandle.csproj.FileListAbsolute.txt
exceptionHandle/.vs/D008.利用TAP工作建立大量並行工作練習/v15/Server/sqlite3/storage.ide-wal
exceptionHandle/.vs/D008.利用TAP工作建立大量並行工作練習/v15/Server/sqlite3/storage.ide
exceptionHandle/.vs/D008.利用TAP工作建立大量並行工作練習/v15/Server/sqlite3/db.lock
exceptionHandle/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
exceptionHandle/obj/Debug/D008.利用TAP工作建立大量並行工作練習.csproj.FileListAbsolute.txt
exceptionHandle/.vs/D008.利用TAP工作建立大量並行工作練習/v15/Server/sqlite3/storage.ide-shm
exceptionHandle/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
exceptionHandle/bin/Debug/D008.利用TAP工作建立大量並行工作練習.exe.config
